body {
    font-family: 'Varela Round';
}

header, nav, aside, main, footer {
    margin: 1em;
}

div#map {
    height: 768px;
    width: 1024px;
}

label, select {
    margin: 0.5em;
}

.noUi-target {
    border: 0.125em solid black;
    border-radius: 0.5em;
}

div#latitude {
    display: inline-block;
    height: 1em;
    width: 16em;
}

div#latitude .noUi-handle {
    background-color: LightGrey;
    border: 0.125em solid black;
    border-radius: 0.5em;
    height: 1em;
    right: -0.5em;
    top: -0.125em;
    width: 1em;
}

div.noUi-handle:before, div.noUi-handle:after {
    background: none;
}

div.noUi-connect {
    background-color: PowderBlue;
}

dt {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

thead, tfoot {
    background-color: LightGrey;
    font-weight: bold;
}

tbody > tr:nth-child(odd) {
    background-color: White;
}

tbody > tr:nth-child(even) {
    background-color: SeaShell;
}

tbody > tr.selected {
    background-color: PowderBlue;
}

td {
    border: 0.125em solid black;
}

td.numeric {
    text-align: end;
}

td.boolean {
    text-align: center;
}

span.details {
    font-size: x-small;
}

span.true {
    color: green;
}

span.false {
    color: red;
}
